doctype html
html
  head
    link(rel="shortcut icon" type="image/png" href="dist/image/logo@1X - site.png" sizes="16x16")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
          crossorigin="anonymous")
    link(rel="stylesheet" href="dist/css/index.css")
    title Cuda single Page Protfolio
  body
    //- start header
    header
      //- start nav bar
      div.container
        nav(class="navbar navbar-expand-lg navbar-light ")
          a(class="navbar-brand hidden-lg", href="#")
            img(src="dist/image/logo@1X.png")
            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                  aria-expanded="false" aria-label="Toggle navigation")
              span(class="navbar-toggler-icon")

              
          div(class="collapse navbar-collapse" id="navbarSupportedContent")
            ul(class="navbar-nav mr-auto")
              li(class="nav-item active")
                a(class="nav-link",href="#") HOME
              li(class="nav-item")
                a(class="nav-link" href="#service") ABOUT
              li(class="nav-item")
                a(class="nav-link" href="#") WORK
              li(class="nav-item")
                a(class="nav-link" href="#") BOLG
              li(class="nav-item")
                a(class="nav-link" href="#") CONTACT

        div(class="text-center header-body")
          h2 Hi there! We are the new kids on the block <br> and we build awesome websites and mobile apps.
          button.work WORK WITH US
    //- end Header
    
    //- start service
    section#service.row
      div.col-lg-12.text-center
        h3 SERVICES WE PROVIDE
        hr 
        p We are working with both individuals and businesses from all over the globe <br> to create awesome websites and applications.
      div.service-body.col-lg-12.text-center
        div.service-body-items.row.text-center
          div.service-body-item.col-lg-3.text-center.col-md-6
            div.service-image.text-center
              a(href="")
                img(src="dist/image/branding.PNG")
            div.service-description
              h3 
                a(href="") BRANDING
              p Lorem ipsum dolor sit amet, <br> consectetuer adipiscing elit,<br> sed diam nonummy nibh.
          div.service-body-item.col-lg-3.text-center.col-md-6
            div.service-image
              a(href="")
                img(src="dist/image/design.PNG")
            div.service-description
              h3 
                a(href="") DESIGN
              p Sed ut perspiciatis<br> unde omnis iste natus error<br> sit voluptatem  
          div.service-body-item.col-lg-3.text-center.col-md-6
            div.service-image
              a(href="")
                img(src="dist/image/development.PNG")
            div.service-description
              h3 
                a(href="") DEVELOPMENT
              p At vero eos et accusamus et <br>iusto odio dignissimos qui<br> blanditiis praesentium.
          div.service-body-item.col-lg-3.text-center.col-md-6
            div.service-image
              a(href="")
                img(src="dist/image/rocket.PNG")
            div.service-description
              h3 
                a(href="") ROCKET SCIENCE
              p Et harum quidem rerum est <br>et expedita distinctio.<br> Nam libero tempore.
    //- end service
              
    //- start team
    section#team.row
      div.col-lg-12.text-center.team-header
        h3 MEET OUR BEAUTIFUL TEAM
        hr 
        p We are a small team of designers and developers, who help brands with big ideas.
      div.team-body.col-lg-12.text-center
        div.team-body-items.row.text-center
          div.team-body-item.col-lg-3.text-center.col-md-6
            div.team-image.text-center
              a(href="")
                img(src="dist/image/Base@1X.png" class="team-image")
                img(src="dist/image/team.png" class="team")
            div.team-description
              h3 
                a(href="") ANNE HATHAWAY
              h6 
                a(href="") CEO / Marketing Guru
              p Lorem ipsum dolor sit amet, <br> consectetuer adipiscing elit,<br> sed diam nonummy nibh<br> euismod tincidunt ut laoreet<br> dolore magna.
            div.teamMedia.text-center
              a(href="").teamMediaIcon
                div.teamMediaIcon
                  img(src="dist/image/Facebook Icon@1X.png")
              a(href="").teamMediaIcon
                div.teamMediaIcon
                  img(src="dist/image/Twitter@1X.png")
              a(href="").teamMediaIcon
                div.teamMediaIcon
                  img(src="dist/image/LinkedIn icon@1X.png")
              a(href="").teamMediaIcon
                div.teamMediaIcon
                  img(src="dist/image/Mail@1X.png")
        
          div.team-body-item.col-lg-3.text-center.col-md-6
            div.team-image.text-center
              a(href="")
                img(src="dist/image/Base@1X.png" class="team-image")
                img(src="dist/image/team.png" class="team")
            div.team-description
              h3 
                a(href="") KATE UPTON
              h6 
                a(href="") Creative Director
              p Lorem ipsum dolor sit amet, <br> consectetuer adipiscing elit,<br> sed diam nonummy nibh<br> euismod tincidunt ut laoreet<br> dolore magna.
            div.teamMedia.text-center
              a(href="").teamMediaIcon
                div.teamMediaIcon
                  img(src="dist/image/Twitter@1X.png")
              a(href="").teamMediaIcon
                div.teamMediaIcon
                  img(src="dist/image/LinkedIn icon@1X.png")
              a(href="").teamMediaIcon
                div.teamMediaIcon
                  img(src="dist/image/Mail@1X.png")
                    
          div.team-body-item.col-lg-3.text-center.col-md-6
            div.team-image.text-center
              a(href="")
                img(src="dist/image/Base@1X.png" class="team-image")
                img(src="dist/image/team.png" class="team")
            div.team-description
              h3 
                a(href="") OLIVIA WILDE
              h6 
                a(href="") Lead Designer
              p Lorem ipsum dolor sit amet, <br> consectetuer adipiscing elit,<br> sed diam nonummy nibh<br> euismod tincidunt ut laoreet<br> dolore magna.
            div.teamMedia.text-center
              a(href="").teamMediaIcon
                div.teamMediaIcon
                  img(src="dist/image/Facebook Icon@1X.png")
              a(href="").teamMediaIcon
                div.teamMediaIcon
                  img(src="dist/image/Twitter@1X.png")
              a(href="").teamMediaIcon
                div.teamMediaIcon
                  img(src="dist/image/LinkedIn icon@1X.png")
              a(href="").teamMediaIcon
                div.teamMediaIcon
                  img(src="dist/image/Mail@1X.png")
              
          div.team-body-item.col-lg-3.text-center.col-md-6
            div.team-image.text-center
              a(href="")
                img(src="dist/image/Base@1X.png" class="team-image")
                img(src="dist/image/team.png" class="team")
            div.team-description
              h3 
                a(href="") ASHLEY GREENE
              h6 
                a(href="") SEO / Developer
              p Lorem ipsum dolor sit amet, <br> consectetuer adipiscing elit,<br> sed diam nonummy nibh<br> euismod tincidunt ut laoreet<br> dolore magna.
            div.teamMedia.text-center
              a(href="").teamMediaIcon
                div.teamMediaIcon
                  img(src="dist/image/Facebook Icon@1X.png")
              a(href="").teamMediaIcon
                div.teamMediaIcon
                  img(src="dist/image/Twitter@1X.png")
              a(href="").teamMediaIcon
                div.teamMediaIcon
                  img(src="dist/image/Mail@1X.png")
                                  
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")
   
