$mainBackGroundColor: #87509c;
$mainColor: #fff;

header {
  background-color: $mainBackGroundColor;
  font-size: 18px;
  color: $mainColor;
  margin-left: -8px;
  margin-top: -8px;
  height: 550px;
  // font-family: "AdobeInvisFont";
  padding-top: 50px;
}
nav {
  margin-left: 10%;
}
.header-body {
  margin-top: 100px;
}
.navbar-nav {
  margin-left: 30%;
}
.nav-item {
  margin-left: 20px;
  padding: 5px;
}
.active {
  background-color: #643a79;
  border-radius: 5px;
}
.nav-item .nav-link {
  color: $mainColor !important;
  // font-family: "TitilliumWeb-Regular", "MyriadPro-Regular", "AdobeInvisFont" !important;
  font-size: 12px;
}
.work {
  background-color: #eb7d4b;
  margin-top: 50px;
  padding: 1.5% 5%;
  border: 0px;
  color: $mainColor;
  border-radius: 5px;
  outline: none
}
