.skills{
  padding-top: 50px;
  font-weight: 400 ;
}

.chart {
    position:relative;
    width:165px;
    height:165px;
    margin: 0 auto;
    font-weight: 300 ;

}
canvas {
    display: block;
    position:absolute;
    top:0;
    left:0;
}
span {
    color:#555;
    display:block;
    line-height:165px;
    text-align:center;
    width:165px;
    font-size:40px;
    font-weight:300;
    margin-left:5px;
}
.progserCircle {
  padding: 5% 0%;
}
figcaption h3 {
  margin-top: 20px;
  color: #3c4761;
  font-size: 20px;
}
